{% extends 'base.html.twig' %}

{% block title %}Favoris{% endblock %}

{% block body %}
    <div class="mb-3">
        <a class="btn" href="{{ path('app_logout') }}">Déconnexion</a>
        <a class="btn" href="{{ path('app_track_index') }}">Accueil</a>
    </div>

    {% if tracks is not empty %}
        <h2 class="mb-3">Mes favoris</h2>
        <div class="tracks tracks-favorites">
            {% for track in tracks %}
                <div class="track-item" data-track-id="{{ track.spotifyId }}">
                    <span class="track-title">{{ track.name }}</span>
                    <button class="btn-love act" data-track-id="{{ track.spotifyId }}" data-track-name="{{ track.name }}">
                        <span class="fa fa-heart"></span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Vous n'avez encore aucun favori.</p>
    {% endif %}
{% endblock %}
