{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="mb-3">
        <a class="btn" href="{{ path('app_logout') }}">Déconnexion</a>
        <a class="btn" href="{{ path('app_track_favorites') }}">Favoris</a>
    </div>

    <div class="search mb-4">
        {{ render(path('app_include_search_form')) }}
    </div>

    {% if tracks is not empty %}
        <h2 class="mb-3">Résultats de la recherche</h2>
        <div class="tracks tracks-home">
            {% for track in tracks %}
                <div class="track-item">
                    <span class="track-title">{{ track.name }}</span>
                    <button class="btn-love {% if track.spotifyId in userFavorites %}act{% endif %}"
                            data-track-id="{{ track.spotifyId }}"
                            data-track-name="{{ track.name }}">
                        <span class="fa fa-heart"></span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}
{% endblock %}
